@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white: #FFFFFF;
    --blue: #2A2B37;
}

body {
    width: 100%;
    /*overflow-x: hidden;*/
}

header {
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 0px;
} 

#container {
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 0px;
    background-image: url('./images/Rectangle\ 2.svg');
    position: absolute;
}

#logo_header .logo_header { 
    position: absolute;
    width: 66.13px;
    height: 60.8px;
    left: 127.06px;
    top: 42.35px;
}

/* Ellipse 21 */
#Ellipse_21 {
    position: absolute;
    width: 229.34px;
    height: 227.32px;
    left: 641px;
    top: 86px;
    background: #FFFFFF;
    border-radius: 50%;
}

/* Maintenance Dash */
#Maintenance_Dash {
    position: absolute;
    width: 620px;
    height: 526.66px;
    left: 731.25px;
    top: 177.67px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 30px;
}

/* Maintenance Dash - Rectangle 55*/
#rectangle_55-logo-aside {  
    position: absolute;
    width: 129.72px;
    height: 526.52px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2.34792px 15.8484px rgba(0, 0, 0, 0.1);
}

/* Maintenance Dash - Rectangle 55 - Menu-aside */
#menu_aside {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129.72px;
    height: 526.52px;
}

#menu_aside ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

#menu_aside ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#menu_aside ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #35495D;
    font-size: 8px;
}

#menu_aside ul li .img {
    position: relative;
    display: block;
    min-width: 40px;
    height: 10px;
    text-align: center;
    line-height: 65px;
}

#menu_aside ul li a .img img {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

#menu_aside ul li a .title {
    position: relative;
    display: block;
    padding-left: -5px;
    height: 40px;
    line-height: 60px;
    white-space: nowrap;
}

/*LOG OUT*/
#sign-out-symbol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 448px;
    width: 100%;
}

#sign-out-symbol img {
    color: grey;
}

#sign-out-symbol a {
    color: grey;
    width: 6px;
    margin-left: -32px;
    margin-top: 5px;
    font-size: 11px;
}

#sign-out-symbol span {
    font-size: 10px;
    color: grey;
}

#sign-out-symbol span a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-decoration: none;
    color: #000000;
}

/* LOGO RECTANGLE 55 */
.logo_rectangle_55 {
    position: absolute;
    left: 15.84%;
    right: 70%;
    top: 3.68%;
    bottom: 93.12%;
    width: 18.4px;
    height: 16.84px;
}

.letter_h1 {
    position: absolute;
    left: 22.16%;
    right: 72.8%;
    top: 5.08%;
    bottom: 93.13%;
    width: 6.55px;
    height: 9.46px;
}

.letter_o {
    position: absolute;
    left: 27.78%;
    right: 66.69%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.19px;
    height: 7.14px;
}

.letter_m {
    position: absolute;
    left: 33.79%;
    right: 58.34%;
    top: 5.55%;
    bottom: 93.13%;
    width: 10.23px;
    height: 6.94px;
}

.letter_e1 {
    position: absolute;
    left: 42.13%;
    right: 52.44%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.06px;
    height: 7.14px;
}

.letter_s {
    position: absolute;
    left: 47.91%;
    right: 47.69%;
    top: 5.56%;
    bottom: 93.09%;
    width: 5.73px;
    height: 7.11px;
}

.letter_h2 {
    position: absolute;
    left: 53%;
    right: 41.96%;
    top: 5.08%;
    bottom: 93.13%;
    width: 6.55px;
    height: 9.46px;
}

.letter_a {
    position: absolute;
    left: 58.64%;
    right: 35.74%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.3px;
    height: 7.14px;
}

.letter_r {
    position: absolute;
    left: 65.09%;
    right: 31.76%;
    top: 5.57%;
    bottom: 93.12%;
    width: 4.09px;
    height: 6.90px;
}

.letter_e2 {
    position: absolute;
    left: 68.45%;
    right: 26.11%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.06px;
    height: 7.14px;
}

/* RECTANGLE55 */
#rectangle55_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:129.72px;
    height: 526.52px;
}

.rectangle55_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rectangle55_menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*LOGO HEADER*/
#logo_header .letter_h1 {
    position: absolute;
    width: 23.53px;
    height: 34.14px;
    left: 156.59px;
    top: 68.89px;
}

#logo_header .letter_o {
    position: absolute;
    width: 25.86px;
    height: 25.79px;
    left: 182.82px;
    top: 77.98px;
}

#logo_header .letter_m {
    position: absolute;
    width: 36.76px;
    height: 25.05px;
    left: 210.88px;
    top: 77.98px;
}

#logo_header .letter_e1 {
    position: absolute;
    width: 25.37px;
    height: 25.79px;
    left: 249.84px;
    top: 77.98px;
}

#logo_header .letter_s {
    position: absolute;
    width: 20.59px;
    height: 25.67px;
    left: 276.8px;
    top: 78.1px;
}

#logo_header .letter_h2 {
    position: absolute;
    width: 23.53px;
    height: 34.14px;
    left: 300.58px;
    top: 68.89px;
}

#logo_header .letter_a {
    position: absolute;
    width: 26.22px;
    height: 25.79px;
    left: 326.92px;
    top: 77.98px;
}

#logo_header .letter_r {
    position: absolute;
    width: 14.7px;
    height: 24.93px;
    left: 357.07px;
    top: 78.22px;
}

#logo_header .letter_e2 {
    position: absolute;
    width: 25.37px;
    height: 25.79px;
    left: 372.75px;
    top: 77.98px;
}

header h2 {
    position: absolute;
    width: 387px;
    height: 38px;
    left: 122px;
    top: 203px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: #00BC9A;
}

header h1 {
    position: absolute;
    width: 590px;
    height: 142px;
    left: 122px;
    top: 265px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 47px;
    line-height: 139.6%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.header_paragraph {
    position: absolute;
    width: 488px;
    height: 114px;
    left: 122px;
    top: 432px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 188.03%;
    letter-spacing: 0.5px;
    color: #E0E0E0;
}

header button {
    position: absolute;
    width: 286px;
    height: 80px;
    left: 120px;
    top: 601px;
    background: #00BC9A;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
}

header .icon_play {
    position: absolute;
    width: 19.87px;
    height: 19.63px;
    left: 466px;
    top: 631px;
}

header p {
    position: absolute;
    width: 118px;
    height: 34px;
    left: 494px;
    top: 624px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 19px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

header .icon_arrow {
    position: absolute;
    width: 16px;
    height: 12px;
    left: 628px;
    top: 636px;
    /*border: 2px solid #FFFFFF;*/
}

/* Maintenance Dash - Search */
#search {
    position: absolute;
    width: 715px;
    height: 115px;
    left: 128px;
    top: 0px;
}

#search h3 {
    width: 201px;
    height: 21px;
    padding: 18px 0 0 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #3E435D;
}

#search p {
    position: absolute;
    width: 75.83px;
    height: 14.06px;
    left: 26px;
    top: 47.07px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    color: #ADA7A7;
}

#search-box {
    position: absolute;
    width: 207.79px;
    height: 30.52px;
    left: 270px;
    top: 24px;
    border-radius: 5px;
    background: #F9F9F9;
}

#search-box:hover {
    border: 1px solid #ADA7A7;
}

#search-box ion-icon {
    position: absolute;
    left: 8%;
    top: 15%;
    width: 20px;
    height: 20px;
    color: #ADA7A7;
    cursor: pointer;
}

#search-box input {
    position: absolute;
    width: 150px;
    height: 25px;
    left: 50px;
    top: 3px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9.39167px;
    color: #ADA7A7;
    background: #F9F9F9;
}

/*MAINTENANCE DASH - BUTTONS*/
#btn-dash {
    width: 450px;
    position: absolute;
    top: 90px;
    left: 26px;
    border-radius: 3px;
    display: flex;
}

#btn-dash .active {
    background: #00BC9A;
    width: 130px;
    height: 28px;
    color: #fff;
    padding: 7px;
    margin-right: 14px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 9px;
    font-family: 'Poppin', sans-serif;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-dash .btn-2, .btn-3 {
    width: 130px;
    height: 28px;
    margin-right: 14px;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
    color: #b4b4b4;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    cursor: pointer;
    font-size: 9px;
    font-family: 'Poppin', sans-serif;
    font-style: normal;
    font-weight: 400;
}

/*Maintenance Dash - center*/
#div-2 {
    position: absolute;
    width: 340px;
    height: 250px;
    margin: auto;
    left: 155px;
    border-radius: 5px;
    margin-top: 150px;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.08);
}

#div-2 p {
    position: absolute;
    display: flex;
    width: 105px;
    height: 35px;
    left: 30px;
    top: 12px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    align-items: center;
    color: #00BC9A;
}

#div-2 p .credit {
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    align-items: center;
    color: #35495d;
    margin-left: 5px;
    margin-top: 10px;
}

#div-2 .earning {
    position: absolute;
    height: 11px;
    left: 30px;
    right: 79.27%;
    top: calc(13% - 11px/2 + 12.06px);
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    display: flex;
    align-items: flex-end;
    color: #35495D;
}

#div-2 .earning ion-icon {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 45px;
    top: 4px;
    color: #35495d;
}

#div-2 .icon-plus {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 16px;
    background: #00C896;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
}

/*Graphic*/
#graphic {
    position: absolute;
    display: block;
    width: 340px;
    height: 200px;
    top: 50px;
}

#graphic p {
    position: relative;
    height: 13px;
    left: 65%;
    right: 0.01%;
    top: calc(70% - 13px/2 - 57.19px);
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    color: #00C896;
}

#graphic .img-graphic {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 20px;
    top: 80px;
    margin: auto;
}

#graphic .img-graphic-retangle {
    position: absolute;
    width: 0.6px;
    height: 127px;
    left: 63.8%;
    top: 25%;
}

#graphic span {
    position: absolute;
    height: 11px;
    left: 65%;
    top: calc(70% - 11px/2 - 44.92px);
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 7.42999px;
    line-height: 11px;
    display: flex;
    align-items: flex-end;
    color: #00C896;
    mix-blend-mode: normal;
    opacity: 0.6;
}

#graphic .img-oval {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 62%;
    top: 54%;
}

/*Months*/
#div-2 .months {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11px;
    top: 90%;
    padding: 10px;
}

#div-2 .months li {
    height: 11px;
    left: 50%;
    top: calc(50% - 11px/2 - 0.07px);
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 11px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #00C896;
}

/*Dash botton*/
#div-3 {
    position: absolute;
    width: 443px;
    height: 247px;
    left: 153px;
    top: 423px;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.08);
    border-radius: 11px;
}

#div-3 .title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-3 h3 {
    position: relative;
    width: 106px;
    height: 15px;
    left: 0px;
    top: 0;
    font-size: 11px;
    font-family: 'Poppin', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #333333;
}

#div-3 ion-icon {
    color: #cdcdcd;
    font-size: 10px;
}

#div-3 .section-1, .section-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
}