@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white: #FFFFFF;
    --blue: #2A2B37;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 0px;
} 

#container {
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 0px;
    background-image: url('./images/Rectangle\ 2.svg');
    position: absolute;
}

#logo_header .logo_header { 
    position: absolute;
    width: 66.13px;
    height: 60.8px;
    left: 127.06px;
    top: 42.35px;
}

/* Ellipse 21 */
#Ellipse_21 {
    position: absolute;
    width: 229.34px;
    height: 227.32px;
    left: 641px;
    top: 86px;
    background: #FFFFFF;
    border-radius: 50%;
}

/* Maintenance Dash */
#Maintenance_Dash {
    position: absolute;
    width: 845.25px;
    height: 526.66px;
    left: 731.25px;
    top: 177.67px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 30px;
}

/* Maintenance Dash - Rectangle 55*/
#rectangle_55-logo-aside {  
    position: absolute;
    width: 129.72px;
    height: 526.52px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2.34792px 15.8484px rgba(0, 0, 0, 0.1);
}

/* Maintenance Dash - Rectangle 55 - Menu-aside */
#menu_aside {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129.72px;
    height: 526.52px;
}

#menu_aside ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

#menu_aside ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#menu_aside ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #35495D;
    font-size: 8px;
}

#menu_aside ul li .img {
    position: relative;
    display: block;
    min-width: 40px;
    height: 10px;
    text-align: center;
    line-height: 65px;
}

#menu_aside ul li a .img img {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

#menu_aside ul li a .title {
    position: relative;
    display: block;
    padding-left: -5px;
    height: 40px;
    line-height: 60px;
    white-space: nowrap;
}

/*LOG OUT*/
#sign-out-symbol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 448px;
    width: 100%;
}

#sign-out-symbol img {
    color: grey;
}

#sign-out-symbol a {
    color: grey;
    width: 6px;
    margin-left: -32px;
    margin-top: 5px;
    font-size: 11px;
}

#sign-out-symbol span {
    font-size: 10px;
    color: grey;
}

#sign-out-symbol span a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-decoration: none;
    color: #000000;
}

/* LOGO RECTANGLE 55 */
.logo_rectangle_55 {
    position: absolute;
    left: 15.84%;
    right: 70%;
    top: 3.68%;
    bottom: 93.12%;
    width: 18.4px;
    height: 16.84px;
}

.letter_h1 {
    position: absolute;
    left: 22.16%;
    right: 72.8%;
    top: 5.08%;
    bottom: 93.13%;
    width: 6.55px;
    height: 9.46px;
}

.letter_o {
    position: absolute;
    left: 27.78%;
    right: 66.69%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.19px;
    height: 7.14px;
}

.letter_m {
    position: absolute;
    left: 33.79%;
    right: 58.34%;
    top: 5.55%;
    bottom: 93.13%;
    width: 10.23px;
    height: 6.94px;
}

.letter_e1 {
    position: absolute;
    left: 42.13%;
    right: 52.44%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.06px;
    height: 7.14px;
}

.letter_s {
    position: absolute;
    left: 47.91%;
    right: 47.69%;
    top: 5.56%;
    bottom: 93.09%;
    width: 5.73px;
    height: 7.11px;
}

.letter_h2 {
    position: absolute;
    left: 53%;
    right: 41.96%;
    top: 5.08%;
    bottom: 93.13%;
    width: 6.55px;
    height: 9.46px;
}

.letter_a {
    position: absolute;
    left: 58.64%;
    right: 35.74%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.3px;
    height: 7.14px;
}

.letter_r {
    position: absolute;
    left: 65.09%;
    right: 31.76%;
    top: 5.57%;
    bottom: 93.12%;
    width: 4.09px;
    height: 6.90px;
}

.letter_e2 {
    position: absolute;
    left: 68.45%;
    right: 26.11%;
    top: 5.55%;
    bottom: 93.09%;
    width: 7.06px;
    height: 7.14px;
}

/* RECTANGLE55 */
#rectangle55_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:129.72px;
    height: 526.52px;
}

.rectangle55_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rectangle55_menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#logo_header .letter_h1 {
    position: absolute;
    width: 23.53px;
    height: 34.14px;
    left: 156.59px;
    top: 68.89px;
}

#logo_header .letter_o {
    position: absolute;
    width: 25.86px;
    height: 25.79px;
    left: 182.82px;
    top: 77.98px;
}

#logo_header .letter_m {
    position: absolute;
    width: 36.76px;
    height: 25.05px;
    left: 210.88px;
    top: 77.98px;
}

#logo_header .letter_e1 {
    position: absolute;
    width: 25.37px;
    height: 25.79px;
    left: 249.84px;
    top: 77.98px;
}

#logo_header .letter_s {
    position: absolute;
    width: 20.59px;
    height: 25.67px;
    left: 276.8px;
    top: 78.1px;
}

#logo_header .letter_h2 {
    position: absolute;
    width: 23.53px;
    height: 34.14px;
    left: 300.58px;
    top: 68.89px;
}

#logo_header .letter_a {
    position: absolute;
    width: 26.22px;
    height: 25.79px;
    left: 326.92px;
    top: 77.98px;
}

#logo_header .letter_r {
    position: absolute;
    width: 14.7px;
    height: 24.93px;
    left: 357.07px;
    top: 78.22px;
}

#logo_header .letter_e2 {
    position: absolute;
    width: 25.37px;
    height: 25.79px;
    left: 372.75px;
    top: 77.98px;
}

header h2 {
    position: absolute;
    width: 387px;
    height: 38px;
    left: 122px;
    top: 203px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: #00BC9A;
}

header h1 {
    position: absolute;
    width: 590px;
    height: 142px;
    left: 122px;
    top: 265px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 47px;
    line-height: 139.6%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.header_paragraph {
    position: absolute;
    width: 488px;
    height: 114px;
    left: 122px;
    top: 432px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 188.03%;
    letter-spacing: 0.5px;
    color: #E0E0E0;
}

header button {
    position: absolute;
    width: 286px;
    height: 80px;
    left: 120px;
    top: 601px;
    background: #00BC9A;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
}

header .icon_play {
    position: absolute;
    width: 19.87px;
    height: 19.63px;
    left: 466px;
    top: 631px;
}

header p {
    position: absolute;
    width: 118px;
    height: 34px;
    left: 494px;
    top: 624px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 19px;
    line-height: 170.53%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

header .icon_arrow {
    position: absolute;
    width: 16px;
    height: 12px;
    left: 628px;
    top: 636px;
    /*border: 2px solid #FFFFFF;*/
}